.all-div1{
	width:100%;
	height:50px;
	background: rgba(255,255,255, 0.1);
	position: absolute;
	font-size:20px;
	color:#fff;
	text-align: right;
}
.all-div2{
	color:#fff;
	margin-top:auto;
	margin-bottom:auto;
	height:100px;
	font-size:30px;
	margin-left:30px;
}
.login-div-main{
	background:url(../img/login-background.jpg);
	height:600px;
	background-size: cover; 
}

.login-width{
	width:400px; 
	margin-left:auto;
	margin-right:auto;
}
.login-top{
	width:380px;
	background-color: #1E9FFF;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	color:#fff;
	font-size:19px;
}
login-outside{
	border:1px solid #000;
}
.all-input{
	width: 317px;
	border:0;
	height:100%;
	margin:0px;
	line-height:10px;
	font-size:15px;
}

.my-welcome-top{
	
	margin-top:auto;
	margin-bottom:auto;
	height:70px;
	
	margin-left:30px;
}

.my-div1{
	width:1000px;
	height:500px;
	margin:0px auto 0px auto;
}
.my-div2{
	width:95%;
	height:98%;
	background:#f2f2f2;
	margin:auto;
}
.my-div3{
	width:100%;
	height:35px;
	background:#2F4056;
	text-align: center;
}
.my-div4{
	width:650px;
	height:435px;
	background:#f2f2f2;
	margin:auto auto auto auto;
	overflow:auto;
}

.my-divleft-top{
	width:100%;
	height:35px;
	background:#2F4056;
	text-align:center;
}

.my-divleft-top-span{
	font-size:23px;
	margin-top:auto;
	margin-bottom:auto;
	color:#FFF;
}
.my-f-body{
	width: 95%;
	height: 40px;
	float: left;
	margin-left:7px;
	display: none;
}
.my-f-name{
	font-size: 17px;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	margin-bottom: 5px;
	display: none;
}
.my-msframe{
	width:650px;
	height:310px;
	background:#f2f2f2;
	margin:auto auto auto auto;
	overflow: auto;
}
.my-uaulist{
	width:1000px;
	height:500px;
	margin:0px auto 0px auto;
	display: none;
}
.my-back{
	width:70px;
	height:100%;
	float: left;
	background-color:#191970;
}

.admin-uaulist{
	width:1000px;
	height:500px;
	margin:0px auto 0px auto;
}
.admin-div1{
	width:650px;
	height:435px;
	background:#f2f2f2;
	margin:auto auto auto auto;
	overflow:auto;
}