<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
">
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"
        ></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- springmvc基础配置 -->
    <mvc:annotation-driven/>
    
    <!--扫描控制器-->
    <context:component-scan base-package="com.bao.controller"></context:component-scan>

    
    
    
    <!--这里是为了解决一个问题：css不能应用于jsp-->
        <!-- 静态资源访问 -->
        <mvc:resources mapping="/DataTables/**" location="/jsp/" />
        <!--从根目录开始找资源-->
        <!-- <mvc:resources location="/" mapping="/**/*.js"/>
          <mvc:resources location="/" mapping="/**/*.css"/> -->
        <mvc:default-servlet-handler />
    
    
</beans>